/* Padrão Config*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Margem Padrão*/
.cab, .nv, header, h2 {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/*Margem Espec*/
.dspmac {
    margin: 0 0 0 140px;

}  

/*Fontes 'Raleway'*/
.f-h1 {
    font-family: 'Raleway'
}

/*Fontes 'Raleway', sans-serif*/
.f-subhead, body {
    font-family: 'Raleway', sans-serif;
}

/*Cor de fonte  rgb(175, 140, 26) */
.cab, .nv {
    color:  rgb(175, 140, 26);
}

/*Fonte 50px*/
.cab {
    font-size: 50px
}

/*Cor de letra aliceblue*/
.h2 {
    color: aliceblue;
}

/*Fonte 25px*/
.h2 {
    font-size: 50px
}
/*Fonte 30px*/
.nv {
    font-size: 30px;
}

/*Cor Bckgrd aliceblue*/
. {
    background-color: aliceblue;
}

/*Cor Bckgrd rgb(175, 140, 26)*/

.grd {
    background-color: rgb(175, 140, 26);
}

/*Display 1*/
.dspmac {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Display 2*/
. {

}

/*Padding 30*/
.nv {
    padding: 30px 0;
}

/*Padding 2*/
. {

}

/*Imagens*/
.imgmac img {
    height: 1000px;
}