* {
    width: 1366px;
    margin: 0 auto;
}
header{
    background-color: blue;
}
header.conteiner{
    display: flex;
}
header li {
    display: inline;
}
.conteiner {
    width: 1366px;
    margin: 100 auto;
}
h1 {
    color: yellowgreen;
}
h2 {
    color: gold;
}
.subtitulos {
    color: #ccc;
}
.invest{
    background-color: rgb(86, 11, 136);
}
.relat{
    background-color: blueviolet;
}
.cons{
    background-color: burlywood;
}